sphinx==5.3.0
sphinx_rtd_theme==1.1.1
sphinx-toolbox==3.2.0
sphinx_design==0.3.0
sphinx-intl==2.0.1
nbsphinx==0.8.10
sphinx-copybutton==0.5.1
ipython>=8.7.0
colorama>=0.4.6
numpy>=1.24.0
pandas>=1.5.2
prettytable>=3.5.0
torch>=1.13.1
torchaudio>=0.13.1
torchvision>=0.14.1
av>=10.0.0
filetype>=1.2.0
vosk>=0.3.44
requests>=2.28.2